body { font-kerning: none; }
@font-face {
    font-family: boldtext;
    src: url(resources/fonts/AEH.ttf) format("truetype");
}
@font-face {
    font-family: lighttext;
    src: url(resources/fonts/AvenirLTStd-Light.otf) format("opentype");
}
#text_artist {
	text-transform: uppercase !important;
	letter-spacing: 0.08em;
	font-family: "boldtext";
	font-size: 24px;
	}
#text_title {
	text-transform: uppercase !important;
	letter-spacing: 0.1em;
	font-family: "lighttext";
	font-size: 23px;
	white-space: pre;
	overflow: auto;
	}
#text_series_id, #text_card_id {
	letter-spacing: 0.06em;
	font-family: "boldtext";
	font-size: 15.5px;
	}
#text_copyright {
	text-transform: uppercase !important;
	letter-spacing: 0.08em;
	font-family: "lighttext";
	font-size: 12px;
	}
#text_card_num {
	letter-spacing: 0.08em;
	font-family: "boldtext";
	font-size: 14.5px;
	}

#header {font-family: "boldtext";}
#version {font-family: "lighttext";}
#footer {font-family: "lighttext";}
h1 {font-family: "boldtext";}

.wild {background-color:#b4a7d6;}
.yellow {background-color:#ffe599;}
.red {background-color:#e6b8af;}
.blue {background-color:#9fc5e8;}
.green {background-color:#b7e1cd;}
.white {background-color:#f3f3f3;}

input:disabled {
	opacity:0.4;
	}
.disabled {
	opacity:0.4;
	}

.leveltable {
	display:table;
	width:550px;
	}
.tablerow {
	display: table-row;
	}
.tablecell {
	display: table-cell;
	width:150px;
	}
.tablecell span {
	padding:3px 5px 3px 0px;
}

.canvas-container {
	display:none;
}